// main SASS file
/***********************************************
                NOTES
light blue  #C7F7FF
med blue    #89C0C9
dark blue   #3a5E63
light brown #C9A689
dark brown  #7C593C
light grey  #d4d4d4
dark grey   #222

                DEFAULTS
***********************************************/

@import "variables";
@import "mixins";

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*:after,
*:before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    font-size: 16px;
    font-family: $font-sans-serif;
    /* default for whole page */
    line-height: 1.6;
}

h1,
h2,
h3,
h4 {
    font-family: $font-serif;
    /* serif for the headings */
}

ul {
    list-style: none;
}

/***********************************************
                SPECIAL
***********************************************/

.clearfix:after {
    display: table;
    clear: both;
    content: "";
}

/***********************************************
                LAYOUT
***********************************************/

.bg-header {
    //background-color: #fff; Redundant?
    background-color: $lightBlue;
    color: $darkGrey;
    border-bottom: 1rem solid $medBlue;
    border-top: 1rem solid $darkBlue;
    position: relative;

    &:before,
    &:after {
        content: "";
        position: absolute;
        bottom: -1rem;
        width: 30%;
        height: 1rem;
        background-color: $darkBlue;
    }
    &:before {
        left: 0;
    }
    &:after {
        right: 0;
    }
}

.bg-focal {
    background-color: $lightBrown;
    color: $darkBrown;
}

.bg-content1 {
    background-color: $white;
    color: $darkGrey;
}

.bg-content2 {
    background-color: $lightBlue;
    color: $darkBlue;
}

.bg-footer {
    background-color: $white;
    color: $lightGrey;
}
header {
    width: 400px;
    /* default */
    margin: 0 auto;
    position: relative;

    & h1 {
        width: 100%;
        padding: 0 2rem;
    }
    
    & nav {
        width: 100%;
    }
    
    & nav > ul li {
        width: 100%;
        float: none;
    }

}

section.focal {
        width: 400px;
        /* default */
        margin: 0 auto;
    }

section.content1, 
section.content2 {
        padding: 2rem 0;
    }


.row {
    clear: both;
}

.col-2 {
    width: 50%;
    float: left;
    padding-bottom: 2rem;
    border-left: 1px solid $darkBlue;
    margin-bottom: 2rem;
}

footer .col-2:first-child {
    border-left: 0;
}

footer {
    padding: 2rem 0;


    & p:last-child {}

    }

/***********************************************
                NAVIGATION
***********************************************/

header { 
    & nav {
        @extend .row;
        padding: 2rem 0;
    }

    & nav > ul > li > a {
        display: block;
        text-align: center;
        text-decoration: none;
        color: $darkGrey;
        font-size: 1.414rem;
        letter-spacing: 0.25rem;
        border: 1px solid $lightGrey;
        border-bottom: none;
        padding: 1.0rem 2rem;
        line-height: 1;
        background-color: $white;
    }

    & nav > ul > li > a:hover {
        font-weight: 700;
        color: $darkBrown;
    }
}
/***********************************************
                CONTENT
***********************************************/
header {
    & h1 {
        color: $darkBrown;
        letter-spacing: 0.1rem;
    }

    & h1 i.fa-lg {
        display: block;
        width: 25%;
        float: left;
        font-size: 7rem;
        line-height: 12.7936rem;
        color: $lightBrown;
    }

    & h1 i.fa-lg ~ span {
        float: right;
        width: 75%;
        font-size: 3.998rem;
        /**
    2 lines of 3.998 * 1.6 = 12.7936
    **/
        padding-left: 1rem;
        text-align: right;
    }
}

.focal {
    & h2 {
        font-size: 1.999rem;
        line-height: 1.2;
        padding: 2rem 2rem 1rem 2rem;
    }

    & .author {
        font-size: 1rem;
        padding: 0.2rem 2rem 2rem;
    }
}
.content1 {
    & h3 {
        font-size: 1.999rem;
        padding: 0.2rem 2rem 2rem;
    }

    & h3 i {
        vertical-align: middle;
        padding-right: 2rem;
    }

    & p {
        font-size: 1.414rem;
        padding: 0.5rem 2rem 2rem;
    }
}
.content2 {
    & h3 {
    font-size: 1.999rem;
    padding: 1rem 2rem 0.5rem;
}

    & h4 {
        font-size: 1.999rem;
        padding: 1rem 2rem 0rem;
    }

    & p {
        font-size: 1.414rem;
        padding: 0.5rem 2rem 1rem;
    }

    & li {
        padding: 0.5rem 2rem;
        font-size: 1.414rem;
    }
}

/***********************************************
                FOOTER
***********************************************/

footer {
    & h4 {
        font-size: 1.414rem;
        padding: 0.5rem 2rem;
        color: $darkBrown;
    }

    & p {
        font-size: 1rem;
        padding: 0.5rem 2rem;
        color: $darkGrey;
    }

    &.fa-circle {
        color: $darkGrey;
    }

    & h4[lang=de] {
        display: block;
    }

    & h4[lang=en],
    & h4[lang=ar],
    & h4[lang=ru] {
        display: none;
    }
}

@import "queries";
